body{
	text-align: center;
}

.ui-bar-a{
	background: #003300;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #000000;
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #090;
	border-bottom-color: #090;
}



.ui-bar-b{
	background: linear-gradient(#009900, #006600) repeat scroll 0 0 #00FF00;
	border-top: 1px solid #002200;
	border-bottom: 1px solid #002200;
}




.ui-btn{
	margin-top: 1px;
	margin-bottom: 1px;
}
.ui-btn-up-c{
	background: linear-gradient(#AABBBB, #AABBAA) repeat scroll 0 0 #000000;
}
.ui-btn-down-c{
	background: linear-gradient(#DDEEEE, #DDEEDD) repeat scroll 0 0 #000000;
}
.ui-btn-hover-c{
	background: linear-gradient(#889999, #889988) repeat scroll 0 0 #000000;
}
.ui-btn-inner{
	border: none;
}
.ui-shadow{
	box-shadow: none;
}
.ui-btn-corner-all{
	border-radius: 0px;
}